    <div class="footer">
        <footer>
            <p>Copyright &copy; artfolio</p>
        </footer>
    </div>

    <!-- JQuery -->
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap  -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Plugins for JQuery -->
    <script src="/javascripts/jquery.easing.min.js"></script>
    <script src="/javascripts/typed.min.js"></script>

    <!-- Custom JS -->
    <script src="/javascripts/custom.js"></script>
    <script src="/javascripts/respond.js"></script>

    <!-- Galleria
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="/javascripts/galleria/galleria-1.5.7.min.js"></script>
    -->
    
</body>
</html>
