<!DOCTYPE html>
<html lang="en">
<!-- ********************************************************************************
# artfolio                                                                          #
# Students at Georgian College                                                      #
# Created by the artfolio team                                                      #
#                                                                                   #
********************************************************************************* -->
<head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" sizes="32x32" href="/images/icon.ico">

    <meta name="author" content="artfolio">
    <meta name="description" content="artfolio is a website that connects artists to the world">

    <title><%= title %></title>

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">
    upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->