<% include partials/header.ejs %>

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">OH NO ! ! ! !</h1>
                    <p class="intro-text">404 Not Found</p>
                    <p class="intro-text">The page you requested was not found on this server.</p>


                    <iframe width="420" height="315" src="https://www.youtube.com/embed/t3otBjVZzT0?autoplay=1" frameborder="0" allowfullscreen></iframe>

                    <br><br><br>

                    <ul class="list-inline">
                        <li><!-- Back -->
                            <a href="http://www.rosskeddy.me/" class="btn btn-default btn-lg"><i class="fa fa-arrow-left"></i> <span class="network-name">Back to Safety</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header><!-- /.intro -->

<!-- Footer -->
<% include partials/footer.ejs %>
