<% include partials/header.ejs %>
<!-- /header -->

<!-- Static navbar -->

<div class="container body-content">

    <div class="homepage">
        <div class="fullscreen-bg">
            <div class="filter"></div>
            <video autoplay loop class="fullscreen-bg__video">
                <source src="/videos/draw.webm" type="video/mp4" />
            </video>

            <div class="jumbotron text-center info">
                <h1>Artfolio</h1>
                <p class="lead blackText">Artfolio is a revolutonary site for artist to expose themselves and their work to the world</p>
            </div>

            <!-- Artists area-->
            <div class="jumbotron text-center artistDiv ">
                <h1> Are you a Artist? Click the image to sign up!</h1>
                <a href='/register'><img src="/images/brushstroke.jpg" class="SignUpImage" alt="Artists" /></a>
            </div>

            <!--Buyer area-->
            <div class="jumbotron text-center BuyerDiv">
                <h1 class="whiteText"> Already with us? Click the image to sign in!</h1>
                <a href='/signIn'><img src="/images/brushstroke.jpg" class="SignUpImage" alt="Artists" /></a>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<% include partials/footer.ejs %>
