

<h1></h1>

<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Publisher</th>
        <th>Genre</th>
        <th>Year</th>

    </tr>
    <% for (var i=0; i < artists.length; i++) { %>
    <tr>
        <td><%= artists[i].firstname %></td>
        <td><%= artists[i].lastname %></td>
        <td><%= artists[i].profession %></td>
        <td><%= artists[i].city %></td>

    </tr>
    <% } %>
</table>
